<!-- app/views/carts/checkout.html.erb -->
<h1>Checkout</h1>

<div class="cart-items">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <% @cart_items.each do |item_id, quantity| %>
            <% item = Item.find(item_id) %>
            <tr>
            <td><%= link_to item.name, item_path(item), class: 'text-dark' %></td>
            <td><%= quantity %></td>
            <td><%= number_to_currency(item.price) %></td>
            <td><%= number_to_currency(item.price * quantity) %></td>
            </tr>
        <% end %>
        </tbody>
    </table>

    <p class="font-weight-bold">Total Price: <%= number_to_currency(@cart_items.sum { |item_id, quantity| Item.find(item_id).price * quantity }) %></p>
</div>

<div class="user-info">
    <% if session[:user_id] %>
        <%= form_with(model: @user, url: confirm_checkout_path, html: { class: 'form-group' }) do |form| %>
        <%= form.label :email, class: 'form-label' %>
        <%= form.email_field :email, class: 'form-control', required: true, value: session[:user_email] %>

        <%= form.label :address, class: 'form-label' %>
        <%= form.text_area :address, class: 'form-control', required: true, value: session[:user_address] %>

        <%= label_tag :tax_id, 'Tax Region', class: 'form-label' %>
        <%= select_tag 'user[tax_id]', options_for_select(Tax.pluck(:tax_region, :id), session[:user_tax]), class: 'form-control', required: true %>

        <%= form.submit 'Confirm Checkout', class: 'btn btn-dark mt-3' %>
        <% end %>
    <% else %>
        <!-- Render the form for users who are not logged in -->
        <%= form_with(model: @user, url: confirm_checkout_path, html: { class: 'form-group' }) do |form| %>
        <%= form.label :email, class: 'form-label' %>
        <%= form.email_field :email, class: 'form-control', required: true %>

        <%= form.label :address, class: 'form-label' %>
        <%= form.text_area :address, class: 'form-control', required: true %>

        <%= label_tag :tax_id, 'Tax Region', class: 'form-label' %>
        <%= select_tag 'user[tax_id]', options_for_select(Tax.pluck(:tax_region, :id)), class: 'form-control', required: true %>

        <%= form.submit 'Confirm Checkout', class: 'btn btn-dark mt-3' %>
        <% end %>
    <% end %>
</div>
